<template>
    <button 
        class="pull-xs-right" 
        :class="{
            btn: true, 
            'btn-sm': true,
            'btn-primary': isFavoritedOptimistic,
            'btn-outline-primary': !isFavoritedOptimistic
        }"
        @click="hendleClick"
    >
        <i class="ion-heart">
            <span>&nbsp; {{favoritesCountOptimistic }}</span>
        </i>
    </button>
</template>

<script>
    import {actionTypes} from '@/store/modules/addToFavorites'
    
    export default {
        name: 'CAddToFavorites',
        props: {
            isFavorited: {
                type: Boolean,
                required: true 
            },
            articleSlug: {
                type: String,
                required: true
            },
            favoritesCount: {
                type: Number,
                required: true 
            }
        },
        data() {
            return {
                isFavoritedOptimistic: this.isFavorited,
                favoritesCountOptimistic: this.favoritesCount
            }
        },

        methods: {
            hendleClick() {
                this.$store.dispatch(actionTypes.addToFavorites, {
                    slug: this.articleSlug,
                    isFavorited: this.isFavorited
                })

                this.isFavoritedOptimistic = !this.isFavoritedOptimistic

                if (this.favoritesCountOptimistic) {
                    this.favoritesCountOptimistic -= 1
                } else {
                    this.favoritesCountOptimistic ++
                }
            }
        }
    }
</script>