<template>
   <div class="editor-page">
       <div class="container page">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-xs-12">
                    <c-validation-errors v-if="errors" :validation-errors="errors"/>
                    <form @submit.prevent="onSubmit">
                        <fieldset>
                            <fieldset class="form-group">
                                <input 
                                    v-model="title"
                                    type="text" 
                                    class="form-control form-control-lg"
                                    placeholder="Article title"
                                />
                            </fieldset>
                            <fieldset class="form-group">
                                <input 
                                    v-model="description"
                                    type="text" 
                                    class="form-control form-control-lg"
                                    placeholder="Description"
                                />
                            </fieldset>
                            <fieldset class="form-group">
                                <textarea 
                                    v-model="body"
                                    class="form-control form-control-lg"
                                    placeholder="What is this article about"
                                />
                            </fieldset>
                            <fieldset class="form-group">
                                <input 
                                    v-model="tagList"
                                    type="text" 
                                    class="form-control form-control-lg"
                                    placeholder="Enter tags"
                                />
                            </fieldset>
                        </fieldset>
                        <fieldset class="form-group">
                            <button class="btn btn-large pull-xs-right btn-primary" :disable="isSubmiting">Publish Article</button>
                        </fieldset>
                    </form>
                </div>
            </div>           
       </div>
   </div>
</template>

<script>
    import CValidationErrors from '@/components/ValidationErrors'
    export default {
        name: 'CArticleForm',
        components: {
            CValidationErrors
        },
        props: {
            initialValues: {
                type: Object,
                required: true
            },
            errors: {
                type: Object,
                required: false
            },
            isSubmiting: {
                type: Boolean,
                required: true
            }
        },
        data() {
            return {
                title: this.initialValues.title,
                description: this.initialValues.description,
                body: this.initialValues.body,
                tagList: this.initialValues.tagList.join(' '),    
            }
        },
        methods: {
            onSubmit() {
                const form = {
                    title: this.title,
                    description: this.description,
                    body: this.body,
                    tagList: this.tagList
                }
                this.$emit('articleSubmit', form)
            }
        }
    }
</script>