<template>
    <div>{{ msg }}</div>
</template>

<script>
    export default {
        name: 'CErrorMsg',
        props: {
            msg: {
                type: String,
                required: true,
                default: "Something went wrong"
            }
        }
    }
</script>