<template>
    <div class="feed-toggle">
        <ul class="nav nav-pills outline-active">
            <li class="nav-item" v-if="isLoggedIn">
                <router-link 
                    :to="{name: 'yourFeed'}"
                    class="nav-link"
                    :class="{active: routeName === 'yourFeed'}" 
                >
                    Your feed
                </router-link>
            </li>

            <li class="nav-item">
                <router-link 
                    :to="{name: 'globalFeed'}"
                    class="nav-link"
                    :class="{active: routeName === 'globalFeed'}" 
                >
                    Global feed
                </router-link>
            </li>

            <li class="nav-item" v-if="tagName">
                <router-link 
                    :to="{name: 'tag'}"
                    class="nav-link"
                    :class="{active: routeName === 'tag'}"
                >
                    <i class="ion-pound" />
                    {{tagName}}
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'CFeedToggler',
        props: {
            tagName: {
                type: String,
                required: false,
            }
        },
        computed: {
            isLoggedIn() {
                return this.$store.getters.isLoggedIn
            },
            routeName() {
                console.log(this.$route.name)
                return this.$route.name
            }
        }
    }
</script>