<template>
    <div>
        <c-loader v-if="isLoading" />
        <c-error-msg v-if="error" />
        <div v-if="feed">
            <div class="article-preview" v-for="(article, index) in feed.articles" :key="index ">
                <article class="article-meta">
                    <router-link
                        :to="{name: 'userProfile', params: {slug: article.author.username}}"
                        class="author"
                    >
                        <img :src="article.author.image" alt="author-image">
                    </router-link>
                    <div class="info">
                        <router-link
                            :to="{name: 'userProfile', params: {slug: article.author.username}}"
                            class="author"
                        >
                            {{ article.author.username }}
                        </router-link>
                        <span class="date">
                            {{ article.createdAt }}
                        </span>
                    </div>
                    
                    <c-add-to-favorites 
                        :isFavorited="article.favorited"
                        :article-slug="article.slug"
                        :favorites-count="article.favoritesCount" 
                    />
                    
                    <router-link
                        :to="{name: 'article', params: {slug: article.slug}}"
                        class="preview-link"
                    >
                        <h2>{{article.title}}</h2>
                        <p>{{article.description}}</p>
                        <span> Read more...</span>
                        <c-tag-list :tags="article.tagList" />
                    </router-link>
                </article>
            </div>
            <c-pagination 
                :total="total"
                :paginationLimit="paginationLimit"
                :currentPage="currentPage"
                :url="baseUrl"
            />
        </div>
    </div>
</template>
<script>
    import CLoader from '@/components/Loader'
    import CPagination from '@/components/Pagination'
    import CErrorMsg from '@/components/ErrorMsg'
    import CTagList from '@/components/TagList'
    import CAddToFavorites  from '@/components/AddToFavorites'
    import {actionTypes} from '@/store/modules/feed'
    import {paginationLimit} from '@/helpers/vars'
    import {stringify, parseUrl} from 'query-string'

    export default {
        name: 'CFeed',
        components: {
            CPagination,
            CLoader,
            CErrorMsg,
            CTagList,
            CAddToFavorites
        },
        props: {
            apiUrl: {
                type: String,
                required: true
            }
        },
        computed: {
            isLoading() {
                return this.$store.state.feed.isLoading
            },
            feed(){
                return this.$store.state.feed.data
            },
            error(){
                return this.$store.state.feed.error
            },
            currentPage() {
                return Number(this.$route.query.page || '1')
            },
            baseUrl() {
                return this.$route.path
            },
            offset() {
                return this.currentPage * paginationLimit - paginationLimit
            }
        },
        watch: {
            currentPage() {
                this.fetchFeed()
            },
            apiUrl() {
                this.fetchFeed()
            }
        },
        data() {
            return {
                total: 500,
                paginationLimit,
            } 
        },
        mounted() {
            this.fetchFeed()
        },
        methods: {
            fetchFeed() {
                const parsedUrl = parseUrl(this.apiUrl)
                const stringifiedParams = stringify({
                    paginationLimit,
                    offset: this.offset,
                    ...parsedUrl.query 
                })
                const apiUrlWithParams = `${parsedUrl.url}?${stringifiedParams}`
                this.$store.dispatch(actionTypes.getFeed, {apiUrl: apiUrlWithParams})
            }
        }
    }
</script>