<template>
    <div>
        <c-loader v-if="isLoading" />
        <c-error-msg v-if="error" />
        
        <div class="sidebar" v-if="popularTags">
            <h3>Popular Tags</h3>
            <ul class="tag-list">
                <li 
                    v-for="popularTag in popularTags"
                    :key="popularTag"
                >
                    <router-link
                        :to="{name: 'tag', params: {slug: popularTag}}"
                        class="tag-default tag-pill"
                    >
                        {{popularTag}}
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import CLoader from '@/components/Loader'
    import CErrorMsg from '@/components/ErrorMsg'
    import {actionTypes} from '@/store/modules/popularTags'

    export default {
        name: "CPopularTags",
        components: {
            CLoader,
            CErrorMsg,
        },
        computed: {
            isLoading() {
                return this.$store.state.popularTags.isLoading
            },
            popularTags(){
                return this.$store.state.popularTags.data
            },
            error(){
                return this.$store.state.popularTags.error
            },
        },
        mounted() {
            this.$store.dispatch(actionTypes.getPopularTags)
        }
    }
</script>
