<template>
    <nav class="navbar navbar-light">
        <div class="container">
            <router-link class="navbar-brand" :to="{name: 'globalFeed'}">Medium Clone</router-link>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <router-link class="nav-link" :to="{name: 'globalFeed'}" active-class="active" exact>
                        Home
                    </router-link>
                </li>
                <template v-if="isLogedIn">
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'createArticle'}">
                            <i class="ion-compose"></i> &nbsp;
                            New Article
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'settings'}">
                            <i class="ion-gear-a"></i> &nbsp;
                            Settings
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'userProfile', params: {slug: currentUser.username}}">
                            <img class="user-pic" :src="currentUser.image" alt="user image">
                            &nbsp;
                            {{currentUser.username}}
                        </router-link>
                    </li>
                </template>
                <template v-if="isAnonymous">
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'login'}" active-class="active">
                            Sign In
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'register'}" active-class="active">
                            Sign Up
                        </router-link>
                    </li>
                </template>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'CTopBar',
        components: {
 
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            },
            isLogedIn() {
                return this.$store.getters.isLoggedIn
            },
            isAnonymous() {
                return this.$store.getters.isAnonymous
            }

        }
    }
</script>