<template>
  <progress />
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "Progress"
});
</script>

<style>
.progress {
  max-width: 500px;
  margin: 0 auto;
}
</style>