<template>
  <nav class="is-primary panel">
    <p class="panel-tabs">
      <a
        v-for="period in periods"
        :key="period"
        :class="[ period === selectedPeriod ? 'is-active' : '']"
        data-test="period"
        @click="setPeriod(period)"
      >{{period}}</a>
    </p>

    <TimelinePost
      v-for="post in posts"
      :key="post.id"
      :title="post.title"
      :created="post.created.format('Do MMM')"
    />
  </nav>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import moment from "moment";
import TimelinePost from "./TimelinePost.vue";
import { getPosts } from "./api/timeline";
//import { store } from "./store";

import { Period, Post } from "./types";
import { todayPost, weekPost, thisMonth } from "./mocks";

const delay = (ms: number) => new Promise(res => setTimeout(res, ms));

export default defineComponent({
  components: {
    TimelinePost
  },
  async setup() {
    const periods: Period[] = ["today", "this week", "this month"];
    const selectedPeriod = ref<Period>("today");

    const fetchPosts = async function() {
      let response: Post[] = [];
      const ids: string[] = [];
      const all: Record<string, Post> = {};
      await getPosts.then(res => (response = res.data));

      for (const post of response) {
        ids.push(post.id.toString());
        all[post.id] = post;
      }
    };

    fetchPosts();
    await delay(2000);
    const posts = computed(() =>
      [todayPost, weekPost, thisMonth].filter(post => {
        if (
          selectedPeriod.value === "today" &&
          post.created.isAfter(moment().subtract(1, "day"))
        ) {
          return true;
        }

        if (
          selectedPeriod.value === "this week" &&
          post.created.isAfter(moment().subtract(7, "day"))
        ) {
          return true;
        }

        if (
          selectedPeriod.value === "this month" &&
          post.created.isAfter(moment().subtract(1, "month"))
        ) {
          return true;
        }
      })
    );

    const setPeriod = (period: Period) => {
      selectedPeriod.value = period;
    };

    return {
      periods,
      selectedPeriod,
      setPeriod,
      posts
    };
  }
});
</script>