<template>
  <a class="panel-block" data-test="post">
    <div>
      <a>{{title}}</a>
      <div>{{created}}</div>
    </div>
  </a>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    title: {
      type: String,
      required: true
    },
    created: {
      type: String,
      required: true
    }
  }
});
</script>