@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-attachment: black;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
}