<template>
    <div class="article-page">
        <div class="banner">
            <div class="container" v-if="article">
                <h1>{{article.title}}</h1>
                <div class="article-meta">
                    <router-link
                        :to="{name: 'userProfile', params: 'slug: article.author.username'}"
                    >
                        <img :src="article.author.image" alt="author-img">
                    </router-link>
                    <div class="info">
                        <router-link
                            :to="{name: 'userProfile', params: 'slug: article.author.username'}"
                        >
                            {{article.author.username}}
                        </router-link>     
                        <span class="date">{{article.createdAt}}</span>
                    </div>
                    <span v-if="isAuthor">
                        <router-link
                            :to="{name: 'editArticle', params: {slug: article.slug }}"
                            class="btn btn-outline-secondary btn-sm"
                        >
                            <i class="ion-edit"/>
                            Edit Article
                        </router-link>
                        <button class="btn btn-outline-danger btn-sm" @click="deleteArticle">
                            <i class="ion-trash-a"/>
                            Delete Article
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="container page">
            <c-loader v-if="isLoading" />
            <c-error-msg v-if="error" />
            <div class="row article-content" v-if="article">
                <div class="col-xs-12">
                    <article>
                        {{article.body}}                        
                    </article>
                    <c-tag-list :tags="article.tagList" />
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {actionTypes} from '@/store/modules/article'
    import CLoader from '@/components/Loader'
    import CErrorMsg from '@/components/ErrorMsg'
    import CTagList from '@/components/TagList'

    export default {
        name: "CArticle",
        components: {
            CLoader,
            CErrorMsg,
            CTagList
        },
        computed: {
            isLoading() {
                return this.$store.state.article.isLoading
            },
            article(){
                return this.$store.state.article.data
            },
            error(){
                return this.$store.state.article.error
            },
            currentUser() {
                console.log()
                return this.$store.getters.currentUser
            },
            isAuthor() {
                if (!this.currentUser.username || !this.article.author.username) {
                    return false
                }
                return this.currentUser.username === this.article.author.username
            },
        },
        mounted() {
            this.$store.dispatch(actionTypes.getArticle, {slug: this.$route.params.slug} )
        },
        methods: {
            deleteArticle() {
                this.$store.dispatch(actionTypes.deleteArticle, {slug: this.$route.params.slug})
                .then(() => {
                    this.$router.push({name: 'globalFeed'})
                })                
            }
        }
    }
</script>