<template>
    <c-article-form 
        :initial-values="initialValues"
        :errors="validationErrors"
        :is-submitting="isSubmitting"
        @articleSubmit="onSubmit"
    />    
</template>

<script>
    import CArticleForm from '@/components/ArticleForm'
    import {actionTypes} from '@/store/modules/createArticle'
    export default {
        name: 'CCreateArticle',
        components: {
            CArticleForm
        },
        data() {
            return {
                initialValues: {
                    title: '',
                    description: '',
                    body: '',
                    tagList: [],    
                }
            }
        },
        computed: {
            isSubmitting() {
                return this.$store.state.createArticle.isSubmitting
            },
            validationErrors() {
                return this.$store.state.createArticle.validationErrors
            }
        },
        methods: {
            onSubmit(articleData) {
                this.$store.dispatch(actionTypes.createArticle, {articleData})
                    .then(article => {
                        this.$router.push({name: 'article', params: {slug: article.slug}})
                    })
            }
        }
    }
</script>