<template>
    <div>
        <c-loader v-if="isLoading" />
        <c-article-form 
            v-if="initialValues"
            :initial-values="initialValues"
            :errors="validationErrors"
            :is-submitting="isSubmitting"
            @articleSubmit="onSubmit"
        />
    </div>    
</template>

<script>
    import CArticleForm from '@/components/ArticleForm'
    import CLoader from '@/components/Loader'
    import {actionTypes} from '@/store/modules/editArticle'
    export default {
        name: 'CEditArticle',
        components: {
            CArticleForm,
            CLoader
        },
        computed: {
            isLoading() {
                return this.$store.state.editArticle.isLoading
            },
            isSubmitting() {
                return this.$store.state.editArticle.isSubmitting
            },
            article() {
                return this.$store.state.editArticle.article
            },
            validationErrors() {
                return this.$store.state.editArticle.validationErrors
            },
            initialValues() {
                if(!this.article) {
                    return null
                }
                return {
                    title: this.article.title,
                    description: this.article.description,
                    body: this.article.body,
                    tagList: this.article.tagList,    
                } 
            }
        },
        mounted(){
            console.log(this.$store.state.article)
            this.$store.dispatch(actionTypes.getArticle, {
                slug: this.$route.params.slug
            })
        },
        methods: {
            onSubmit(articleData) {
                const slug = this.$route.params.slug
                this.$store.dispatch(actionTypes.editArticle, {slug, articleData})
                    .then(article => {
                        this.$router.push({name: 'article', params: {slug: article.slug}})
                    })
            }
        }
    }
</script>