<template>
    <div class="auth-page ng-scope">
        <div class="container page">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12">
                    <h1 class="text-xs-center">Sign up</h1>
                    <p class="text-xs-center">
                        <router-link :to="{name: 'login'}">
                            Have an account?
                        </router-link>                        
                    </p>

                    <c-validation-errors 
                        v-if="validationErrors"
                        :validation-errors="validationErrors"
                    />

                    <form @submit.prevent="onSubmit">
                        <fieldset>
                            <fieldset class="form-group">
                                <input 
                                    type="text"
                                    class="form-control form-control-lg"
                                    placeholder="Username"
                                    v-model="username"
                                />
                            </fieldset>
                            <fieldset class="form-group">
                                <input 
                                    type="email"
                                    class="form-control form-control-lg ng-pristine"
                                    placeholder="Email"
                                    v-model="email"
                                />
                            </fieldset>
                            <fieldset class="form-group">
                                <input 
                                    type="password"
                                    class="form-control form-control-lg ng-pristine"
                                    placeholder="Password"
                                    v-model="password"
                                />
                            </fieldset>
                        </fieldset>
                        <button 
                            class="btn btn-lg btn-primary pull-xs-right"
                            :disabled="isSubmiting"
                        >

                            Sign Up
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</template>

<script>
    import CValidationErrors from '@/components/ValidationErrors'
    import {actionTypes} from '@/store/modules/auth'
    
    export default {
        name: 'CRegister',
        components: {
           CValidationErrors 
        },
        data() {
            return {
                email: '',
                password: '',
                username: ''
            }
        }, 
        computed: {
            isSubmiting() {
                return this.$store.state.auth.isSubmiting
            },
            validationErrors() {
                return this.$store.state.auth.validationErrors 
            }
        },
        methods: {
            onSubmit(){
                this.$store.dispatch(actionTypes.register, {
                    email: this.email,
                    username: this.username,
                    password: this.password
                })
                .then(() => {
                    this.$router.push({name: 'globalFeed'})
                })
            }
        }
    }
</script> 