<template>
    <div class="setting-page" v-if="currentUser">
        <div class="container page">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12">
                    <h1 class="text-xs-center">
                        Settings
                    </h1>
                    <c-validation-errors v-if="validationErrors" :validation-errors="validationErrors" />
                    <form @submit.prevent="onSubmit">
                        <fieldset>
                            <fieldset class="form-group ">
                                <input 
                                    type="text" 
                                    class="form-control form-control-lg"
                                    v-model="form.image" 
                                    placeholder="URL of profile picture"
                                />
                            </fieldset>

                            <fieldset class="form-group ">
                                <input 
                                    type="text" 
                                    class="form-control form-control-lg"
                                    v-model="form.username" 
                                    placeholder="Usernmae"
                                />
                            </fieldset>

                            <fieldset class="form-group ">
                                <textarea 
                                    class="form-control form-control-lg"
                                    v-model="form.bio" 
                                    placeholder="Short bio about you"
                                />
                            </fieldset>

                            <fieldset class="form-group ">
                                <input 
                                    type="email" 
                                    class="form-control form-control-lg"
                                    v-model="form.email" 
                                    placeholder="Email"
                                />
                            </fieldset>

                                <fieldset class="form-group ">
                                <input 
                                    type="password" 
                                    class="form-control form-control-lg"
                                    v-model="form.password" 
                                    placeholder="Password"
                                />
                            </fieldset>

                            <button 
                                type="submit"
                                class="btn btn-lg btn-primary pull-xs-right"
                                :disabled="isSubmitting"

                            >
                                Update settings
                            </button>
                        </fieldset>
                    </form>
                    <hr/>
                    <button
                        type="text"
                        class="btn btn-outline-danger"
                        @click="logout"
                    >
                        Or click here to logout
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CValidationErrors from '@/components/ValidationErrors'
    import {actionTypes as authActionTypes} from '@/store/modules/auth'
    export default {
        name: 'CSettings',
        components: {
            CValidationErrors
        },
        computed: {
            isSubmitting() {
                return this.$store.state.settings.isSubmitting
            }, 
            validationErrors() {
                return this.$store.state.settings.validationErrors
            },
            currentUser() {
                return this.$store.getters.currentUser
            },
            form() {
                return {
                    username: this.currentUser.username,
                    bio: this.currentUser.bio,
                    image: this.currentUser.image,
                    email: this.currentUser.email,
                    password: ''
                }
            }
        },
        methods: {
            onSubmit() {
                this.$store.dispatch(authActionTypes.updateCurrentUser, {currentUserData: this.form})
            },
            logout() {
                this.$store.dispatch(authActionTypes.logout).then(() => {
                    this.$router.push({name: 'globalFeed'})
                })
            }
        }
    }
</script>