<template>
    <div class="home-page">
        <c-banner />
        <div class="container page">
            <div class="row">
                <div class="col-md-9">
                    <c-feed-toggler :tag-name="tagName" />
                    <c-feed :api-url="apiUrl" />
                </div>
                <div class="col-md-3">
                    <c-popular-tags />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CFeed from '@/components/Feed'
    import CPopularTags from '@/components/PopularTags'
    import CBanner from '@/components/Banner'
    import CFeedToggler from '@/components/FeedToggler'
    
    export default {
        name: 'CYourFeed',
        components: {
            CFeed,
            CPopularTags,
            CBanner,
            CFeedToggler,
        },
        data() {
            return {
                apiUrl: '/articles/feed'
            }
        }
    }
</script>