<template>
    <c-top-bar />
    <router-view/>
</template>

<script>
    import CTopBar from '@/components/TopBar'
    import {actionTypes} from '@/store/modules/auth'

    export default {
        name: 'CApp',
        components: {
            CTopBar 
        },
        mounted() {
            this.$store.dispatch(actionTypes.getCurrentUser)
        } 
    }
</script> 